<partial name="~/Views/Shared/ChatMenuPartial.cshtml" />
<partial name="~/Views/Shared/ChatPartial.cshtml" />
<partial name="~/Views/Shared/ChatUsersPartial.cshtml" />


<div id="main">
    <!-- ko template: { name: "ChatMenuPartial" } -->
    <!-- /ko -->

    <!-- ko template: { name: current() } -->
    <!-- /ko -->
</div>


<input type="hidden" id="urlHome" value="@Url.Action("Index", "Home")" />
<input type="hidden" id="urlBase" value="@Url.Content("~")" />

@section Scripts {
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
    <script src="@Url.Content("~/js/transpiled/shared.js")"></script>
    <script src="@Url.Content("~/js/transpiled/chat.js")"></script>
}