<div class="container">
    <h1>Registro</h1>
    <form  class="form" action="@Url.Action("Chat","Home")" method="GET">
        <div class="form-group">
            <label>User:</label>
            <input type="text" name="user" class="form-control" required maxlength="50" />
        </div>

        <button class="btn btn-success float-right" type="submit">Chat</button>
        
    </form>
</div>
