
<div class="container">
    <h1>Chat</h1>
    <form  class="form" action="@Url.Action("Chat","Home")" method="GET">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" name="user" id="txtUser" class="form-control" required maxlength="30" />            
        </div>
        <div class="form-group">
            <label>Grupo:</label>            
            <select name="group" class="form-control" required>
                @foreach (var g in Model)
                {
                    <option value="@g.Name">@string.Format("{0} ({1})", g.Name, g.Count)</option>                    
                } 
            </select>            
        </div>        
        <button class="btn btn-success float-right" type="submit">Entrar</button>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        $(() => {
            $("#txtUser").focus();
        });
    </script>
}