<script type="text/html" id="ChatMenuPartial">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#" data-bind="text: user.name">
                UserName
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" data-bind="css: { 'active': current() === 'ChatPartial' }">
                        <a class="nav-link" href="#" data-bind="click: ()=> current('ChatPartial')">Chat</a>
                    </li>
                    <li class="nav-item" data-bind="css: { 'active': current() === 'ChatUsersPartial' }">
                        <a class="nav-link" href="#" data-bind="click: ()=> current('ChatUsersPartial')">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Salir</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
</script>