

<script type="text/html" id="ChatUsersPartial">
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
    <h1>Chat Users goes here</h1>
</script>